* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.smain {
    border: 2px solid gray;
    width: 270px;
    background-color: white;
    border-radius: 20px;
    /* padding-top:50px; */
}

.profile {
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    float: left;

}

.dkb1 i {
    float: right;
    margin-right: 15px;
}

.rkb1 i {
    float: right;
    margin-right: 15px;
}

.rkb2 i {
    float: right;
    margin-right: 15px;
}

.dkb2 i {
    float: right;
    margin-right: 15px;
}

.me i {
    float: right;
    margin-right: 15px;
    
}

.dkb1 {
    border: 2px solid grey;
    height: 60px;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 10px;
    
}

.dkb1:hover
{
    background-color:#dddd;
    border-radius:10px;
}
.rkb1 {
    border: 2px solid grey;
    height: 60px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;

}
.rkb1:hover
{
    background-color:#dddd;
    border-radius:10px;

}
.rkb2 {
    border: 2px solid grey;
    height: 60px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;

}
.rkb2:hover
{
    background-color:#dddd;
    border-radius:10px;

}
i {
    font-size: 17px;
}

b {
    margin-left: 3%;

}

.mn {
    margin-left: 15%;
    font-size: 12px;

}

.dkb2 {
    border: 2px solid grey;
    height: 60px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;

}
.dkb2:hover
{
    background-color:#dddd;
    border-radius:10px;

}
.me {
    border: 2px solid grey;
    height: 60px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;

}
.me:hover
{
    background-color:#dddd;
    border-radius:10px;

}
.text {

    justify-content: center;
    text-align: center;
}

.text input {
    text-align: center;
    width: 100%;
    font-size: 30px;
    background-color: transparent;
    height: 40px;
    color: black;
    /* border-radius: 20px; */
    padding-top: 10px;
    margin-right: 10%;
    border: none;
    border-bottom: 2px solid grey;
}

.input
{

    display: flex;
}

.input button
{
    cursor: pointer;
    float:right;
}



.orange {
    background-color: green;
    color: white;
    border: 2px solid green;
    border-radius: 40px;
    width: 70px;
    height: 40px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(225, 225, 220, 0.3);
    transition: transform .2s;
    /* margin-left: 38%; */

}

.red {
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 40px;
    width: 70px;
    height: 40px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(225, 225, 220, 0.3);
    transition: transform .2s;
    /* margin-left: 38%; */

}

.border {
    border: 2px solid rgb(214, 211, 211);
    border-radius: 60px;
    background-color: white;
    color: black;
    width: 70px;
    height: 50px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(225, 225, 220, 0.3);
    transition: transform .10s;
}
.border:hover {
    transform: scale(1.1);
    background-color: rgb(78, 78, 101);
}

.orange:hover {
    transform: scale(1.1);

}

.red:hover {
    transform: scale(1.1);

}

.smain .con {
    font-size: 25px;
}

.smain .con2 {
    font-size: 10px;
}

.main {

    justify-content: center;
    text-align: center;
}
@media(max-width:768px) {


    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:white;
    }

    .smain {
        border: 2px solid gray;
        width: 100%;
        height: 100%;
        background-color:white;
        border-radius: 20px;
    }

    .text input {
        text-align:center;
        width:100%;
        font-size:30px;
        background-color: transparent;
        height:50px;
        color: white;
        border-radius: 20px;
        padding-top:20px;


    }
    .input
{

    display: flex;
    justify-content: center;
    align-items: center;
}

.input button
{
    cursor: pointer;
    float:right;
}



.orange {
    background-color: green;
    color: white;
    border: 2px solid green;
    border-radius: 40px;
    width: 80px;
    height: 50px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(225, 225, 220, 0.3);
    transition: transform .2s;
    /* margin-left: 38%; */
    float:center;

}

.red {
    background-color: green;
    color: white;
    border: 2px solid green;
    border-radius: 40px;
    width: 80px;
    height: 50px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(225, 225, 220, 0.3);
    transition: transform .2s;
    /* margin-left: 38%; */
    float:center;

}
.border {
    border: 2px solid rgb(214, 211, 211);
    border-radius: 50px;
    background-color:white;
    color: black;
    width: 100px;
    height: 60px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(225, 225, 220, 0.3);
    transition: transform .10s;
}
.border:hover {
    transform: scale(1.1);
    background-color: rgb(78, 78, 101);
}

.orange:hover {
    transform: scale(1.1);

}

.red:hover {
    transform: scale(1.1);

}

.smain .con {
    font-size: 25px;
}

.smain .con2 {
    font-size: 10px;
}
.main {

    justify-content: center;
    text-align: center;
}

.profile {
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    float: left;


}

.dkb1 i {
    float: right;
    margin-right: 15px;
    font-size:25px;
}

.rkb1 i {
    float: right;
    margin-right: 15px;
    font-size:25px;
}

.rkb2 i {
    float: right;
    margin-right: 15px;
    font-size:25px;
}

.dkb2 i {
    float: right;
    margin-right: 15px;
    font-size:25px;
}

.me i {
    float: right;
    margin-right: 15px;
    font-size:25px;
    
}

.dkb1 {
    border: 2px solid grey;
    height: 60px;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top:10%;
    font-size:20px;
    
    
}

.dkb1:hover
{
    background-color:#dddd;
    border-radius:10px;
}
.rkb1 {
    border: 2px solid grey;
    height: 60px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    font-size:20px;


}
.rkb1:hover
{
    background-color:#dddd;
    border-radius:10px;

}
.rkb2 {
    border: 2px solid grey;
    height: 60px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    font-size:20px;


}
.rkb2:hover
{
    background-color:#dddd;
    border-radius:10px;

}
i {
    font-size:20px;
}

b {
    margin-left: 3%;

}

.mn {
    margin-left: 15%;
    font-size: 15px;

}

.dkb2 {
    border: 2px solid grey;
    height: 60px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    font-size:20px;


}
.dkb2:hover
{
    background-color:#dddd;
    border-radius:10px;

}
.me {
    border: 2px solid grey;
    height: 60px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    font-size:20px;


}
.me:hover
{
    background-color:#dddd;
    border-radius:10px;

}

}